<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#">New York Times Article Saver</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
    aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/dashboard">Dashboard<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/userarticles">Saved Articles</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/getarticles">Get Articles</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/users/logout">Log Out</a>
      </li>
    </ul>
  </div>
</nav>
<div class="container" id="user" data-userid={{userid}}>
  <div class="row">
    <div class="col-md-8">
      <h1 class="mt-4">Saved Articles for</h1>
      <h2 class="lead mb-3">{{name}}</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <hr>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-md-12">
      {{>userarticles}}
    </div>
  </div>
</div>
<script>
  $(".addNote").on("click",(event)=>{
  const target = $(event.target)
  console.log("addNote " + target.attr("data-id") +" "+ $("#user").attr("data-userid") )

})

$(".deleteArticle").on("click",(event)=>{
  const target = $(event.target)
  console.log("Delete " + target.attr("data-id") +" "+ $("#user").attr("data-userid"))
  $.post("/deleteSavedArticle",{articleid:target.attr("data-id"),userid:$("#user").attr("data-userid") },(data)=>{
      location.reload()
  })
})
</script>